<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Secret Sharing</title>
    <script src="./angular-1.7.2/angular.min.js"></script>
    <script src="./secretSharingController.js"></script>
    <link rel="stylesheet" type="text/css" href="./secretSharing.css">
</head>

<body resize ng-app="secretSharing" ng-controller="myCtrl">

    <h1>Secret Sharing</h1>
    <hr>
    <a href="https://waigetlaw.gitlab.io/">&larr; Back to main site</a>

    <p>An implementation of Shamir's secret sharing in action! Note: for Base36, with length of 4 letters, the
        supported characters is deliberately lowered for performance. Technically it should be able to support just
        36^4, which is just over 1,600,000.<br><br><strong>WARNING: Please do not input any
            sensitive data such as passwords as the secret. I cannot guarantee that this site is 100% safe and it
            probably isn't 100% bug free. I take no responsibility for any losses if you choose to use this site.</strong></p>

    <h2>Split Secret</h2>
    <hr>

    <span id="splitErrorMsg">{{ splitError }}</span>

    <form>
        <table>
            <tr>
                <td>Total shares:</td>
                <td><input type="number" ng-model="input.shares"></td>
            </tr>
            <tr>
                <td>Shares required:</td>
                <td><input type="number" ng-model="input.threshold"></td>
            </tr>
            <tr>
                <td>Secret:</td>
                <td><input ng-trim="false" type="text" ng-model="input.secret" size="50"></td>
            </tr>
            <tr>
                <td>Base (for combine too):</td>
                <td>
                    <select ng-model="chosenBase" ng-change="setLength()">
                        <optgroup label="Common">
                            <option ng-repeat="base in bases">{{ base }}</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option ng-repeat="base in otherBases">{{ base }}</option>
                        </optgroup>
                    </select>
                    <div class="letterDrop">
                        <label>Number of letters: </label>
                        <select ng-model="chosenLength" ng-change="setConditions()">
                            <option ng-repeat="l in lengths">{{ l }}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="supported">&#8470; of supported characters:</td>
                <td>{{ supported }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="button" type="button" ng-click="split(input, settings)" value="Submit"></td>
            </tr>
        </table>
    </form>

    <div class="results" ng-if="calculatedShares.length">
        <h3>Results</h3>
        <table class="shares" cellpadding="10" cellspacing="0">
            <tr ng-repeat="share in calculatedShares track by $index">
                <td>{{ $index + 1 }} | {{ share | limitTo: charLimit }}{{ share.length > charLimit ? '&hellip;' : ''
                    }}{{ height}}</td>
                <td><button class="copyRow" ng-click="copy($index, share)">copy row</button></td>
            </tr>
        </table><br>
        <button class="button" ng-click="copyRandom()">Copy Random</button>
        <span class="success" ng-show="showCopyMessage" id="copySuccess">Copy Success!</span>
        <a download="secret.txt" ng-href="{{ url }}"><button class="button export">Export</button></a>
    </div>

    <h2>Combine Shares</h2>
    <hr>

    <span id="combineErrorMsg">{{ combineError }}</span>

    <form>
        <table>
            <tr>
                <td>Shares:</td>
                <td class="textarea"><textarea type="text" ng-model="combineShares" rows="12"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="button" type="button" ng-click="combine(combineShares, settings)" value="Combine">
                    <span class="success" ng-show="showCombineMessage" id="combineSuccess">Combine Success!</span>
                    <input class="button" id="exampleCombine" type="button" ng-click="exampleCombine()" value="Example">
                </td>
            </tr>
        </table>
    </form>

    <h4 class="secretMsg">Secret:
        <pre>{{ combineResult }}</pre>
    </h4>

    <h2>Files</h2>
    <hr>

    <p>By use of the same logic as above, we can also split and combine files together. We convert the file into a
        base64 string, and set the file name of each file to a share of the file name, and the contents of each file is
        a share of the base64 string. We can then read the files back in to reconstruct the base64 string and recreate
        the file again with the original title.</p>

    <h3>Split</h3>

    <div class="fileMenu">
        {{ uploadStatus }}
        <table>
            <tr>
                <td>
                    <input type="file" id="fileToSplit">
                    <button class="button" ng-click="upload()">Upload</button>
                </td>
            </tr>
            <tr>
                <td ng-if="fileData1 && fileData2">
                    <a download="{{ fileName1 }}" ng-href="{{ fileData1 }}"><button class="button download">Download
                            File 1</button></a>
                    <a download="{{ fileName2 }}" ng-href="{{ fileData2 }}"><button class="button download">Download
                            File 2</button></a>
                </td>
            </tr>
        </table>
    </div>

    <h3>Combine</h3>

    <div class="fileMenu">
        {{ combineStatus }}
        <table class="combineUpload">
            <tr>
                <td class="label">
                    Upload File 1:
                </td>
                <td>
                    <input type="file" id="fileCombine1">
                </td>
            </tr>
            <tr>
                <td class="label">
                    Upload File 2:
                </td>
                <td>
                    <input type="file" id="fileCombine2">
                </td>
            </tr>
        </table>
        <button class="button combineFileButton" ng-click="combineFiles()">Combine Files</button><br>

        <a ng-if="combinedFileData" download="{{ combinedFileName }}" ng-href="{{ combinedFileData }}"><button class="button download">Download
                Combined File</button></a>
        {{ combinedFileName }}
    </div>

    <h2>How it Works</h2>
    <hr>

    <p>The secret is broken up into individual characters, and each character is converted to its character code. e.g.
        's' = 115. Depending on the number of shares required, n = shares required, we choose a random polynomial of
        degree n-1 and set the y-intercept to be the character code. The reasoning is that for a polynomial of degree
        m, you need m+1 unique points on the polynomial to reconstruct it. The shares are then simply points on the
        polynomial with the index of the share as the x value and the actual share message is all the y coordinates
        of each polynomial concatenated together as a hexidecimal string.</p>

    <h3>Example</h3>

    <p>Our secret is 42, and we wish to be able to retrieve it with only n = 2 shares. We need to create a
        polynomial of degree 1, which is a straight line, with y intercept at f(0) = 42. There are an
        infinite amount of lines that have f(0) = 42, as the line can have any gradient. Also from basic
        mathematics, we need at least two unique points to uniquely define a straight line, therefore if we
        know two points on this line, we can calculate what f(0) should be.
    </p>

    <img src="./resources/example-graph.png" alt="example-graph">

    <p>Assume the random line is y = 5x + 42. We can start distributing points on the line as shares, from
        x = 1, x = 2 etc. Therefore, two example valid shares are: (1, 47) and (3, 57). With the points, we
        can use
        <a href="https://en.wikipedia.org/wiki/Lagrange_polynomial" target="_blank">Lagrange Interpolation</a>
        to get f(0). A slightly more optimized approach is used as we only need the x^0 term and we can
        ignore the rest:<br><br>

        <img src="./resources/optimized_lagrange_interpolation.PNG" alt="lagrange_interpolation">

        <br>
        In our example:<br><br>
        <img src="./resources/example_lagrange.PNG" alt="example_lagrange"><br>
        which gives us 42, the secret we started with.
    </p>

    <p>The red line, can have any slope m, and should be randomly picked when generating shares. The
        important detail is that f(0) = 42, and that a straight line means only 2 shares is needed to
        calculate f(0).
    </p>

    <p> The exact same concept can be applied for shares > 2, but instead of a straight line, they will be
        a quadratic, cubic, x degree polynomial.
    </p>

    <p>The example is slightly simplified, in reality, it is safer to use <a href="https://en.wikipedia.org/wiki/Finite_field"
            target="_blank">finite field arithmetic</a> where the points are now (x, f(x) mod p). Finite field
        arithmetic adds another layer of complexity which I had to learn, and would like to thank Calum MacDonald from
        Glasgow Caledonian University for teaching me about it during 1st year. This requires calculating the
        multiplicative inverse of modulo p in order to do division during the lagrange interpolation which can be done
        efficiently using the Extended Euclidean Algorithm - I think this was the hardest part to code and I'm sure the
        function can still be simplified further. Further optimisation methods are used such as Horner's method for
        calculating f(x) for a given polynomial.
    </p>

    <p>I learned a lot while creating this, especially finite field theory arithmetic and thanks to CGI, I can write
        much cleaner JS code than ever before! I encourage everyone to look for things that interest them and code
        away, you never know what you'll discover and learn :)
    </p>


    <h2>References</h2>
    <hr>

    <p>List of all the websites I used as reference when creating this website:</p>

    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Shamir%27s_Secret_Sharing" target="_blank">Wiki: Shamir's Secret
                Sharing</a></li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Finite_field" target="_blank">Wiki: Finite Field</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Lagrange_polynomial" target="_blank">Wiki: Lagrange Interpolation</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Horner%27s_method" target="_blank">Wiki: Horner's Method</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Extended_Euclidean_algorithm" target="_blank">Wiki: Extended
                Euclidean Algorithm</a>
        </li>
        <li>
            <a href="https://github.com/codahale/shamir" target="_blank">Github: codahale's implementation of Shamir's
                Secret Sharing</a>
        </li>
        <li>
            <a href="http://point-at-infinity.org/ssss/index.html" target="_blank">Point At Infinity: Shamir's Secret
                Sharing Scheme</a>
        </li>
        <li>
            <a href="https://gitlab.com/waigetlaw/secret-sharing" target="_blank">GitLab: Project Page for this page</a>
        </li>
    </ul>
</body>

<footer>
    <p>Last Updated 27/05/2019<br>Created by Wai Get Law</p>
</footer>

</html>