body {
    background: lightblue;
    padding-left: 20px;
    width: 70%;  
    margin-left:auto;
    margin-right:auto;
    font-size: 1.3em;
}

select, input {
    font-size: 0.9em;
}

.letterDrop {
    float: right;
    margin-right: 1px;
}

.supported {
    padding-bottom: 20px;
}

select {
    margin-bottom: 20px;
    padding: 2px;
}

h1, h2 {
    text-align: center;
}

h2 {
    padding-top: 70px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(131, 164, 235);
    margin: 1em 0;
    padding: 0;
}

.textarea, textarea {
    width: 100%;
}

.results {
    width: 100%;
    min-width: 500px;
}

.shares {
    margin: 0px 0px 10px 0px;
    border: 1px solid black;
    background-color: white;
    max-height: 500px;
    overflow-y: auto;
    display: inline-block
}

.shares tr:nth-child(even) {
    background: white
}
.shares tr:nth-child(odd) {
    background: rgb(231, 231, 231);
}

.shares tr:hover {
    background-color: rgb(250, 255, 175);
  }

.button {
    font-size: 1.1em;
}

table {
    margin-top: 20px;
    text-align: left;
}

td {
    vertical-align: top;
    margin:0;
}

img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

#exampleCombine {
    float: right;
}

ul {
    padding: 0;
    list-style-type: none;
  }

footer {
    text-align: right;
}

pre {
    display: inline;
    font-size: 1.2em;
    color: navy;
    margin: 0;
}

.export {
    float: right;
}

.success {
    padding-left: 50px;
}

.combineFileButton {
    margin-top: 20px;
}

.combineUpload {
    width: 550px;
}

.label {
    width: 40%;
    padding-bottom: 10px;
}

.download {
    margin-top: 30px;
    margin-right: 30px;
}

.fileMenu {
    padding: 20px;
    border-top: 1px solid black;
    width: 600px;
}
